@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<h4>Description:</h4>
<p>This is a Group Project website for the CS 3750 class at Weber State University Summer Semester 2017</p>

<h4>Team Members:</h4>
<p>Andrew, Daniel, Greg, Kevin</p>