@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <a href="https://sites.google.com/mail.weber.edu/unitydevops/home" target="_blank">UnityDevOps Website</a>
</address>