@using SilentAuction.ViewModels;
@using SilentAuction.Controllers;

@model BidHistoryViewModel
@{
    ViewData["Title"] = "Bid Detail";
}

<h2>BidDetail</h2>

<div>
    <h4>Listing Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MyBid.User.FirstName)
        </dt>
    </dl>
</div>