@using SilentAuction.ViewModels
@using SilentAuction.Controllers
@model AuctionViewModel
@{
    ViewData["Title"] = "Silent Auction";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    @foreach (var listing in Model.Listings)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        Image
                    </div>
                    <div class="media-body">
                        <ul>
                            <li>@Html.DisplayFor(modelItem => listing.Item.Name)</li>
                            <li>@Html.DisplayFor(modelItem => listing.Item.RetailPrice)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


<div>
    <hr />
    <a asp-controller="Home" asp-action="Index">Back to Admin Home</a>
</div>
