@using SilentAuction.ViewModels
@model ListingViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Listing</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Auction" class="control-label col-md-2">Auction:</label>
            <div class="col-md-10">
                <select asp-for="Auction" class="form-control" asp-items="Model.Auctions"></select>
                <span asp-validation-for="Auction" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Item" class="control-label col-md-2">Item:</label>
            <div class="col-md-10">
                <select asp-for="Item" class="form-control" asp-items="Model.Items"></select>
                <span asp-validation-for="Item" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MinimumBid" class="col-md-2 control-label">Minimum Bid:</label>
            <div class="col-md-10">
                <input asp-for="MinimumBid" class="form-control" />
                <span asp-validation-for="MinimumBid" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Increment" class="col-md-2 control-label">Bidding Increment:</label>
            <div class="col-md-10">
                <input asp-for="Increment" class="form-control" />
                <span asp-validation-for="Increment" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
